@import "compass";

@import "variables";
@import "bootstrap";
@import "bootswatch";
@import "prism";

h1 {
  margin-top: 0;
}
.post, .archives {
	h2.title a {
		text-decoration: none;
	}
}
iframe.twitter-share-button {
  margin-bottom: -5px;
}

#header .navbar .navbar-right a {
	@include border-radius(50%);
	@include inline-block;
	text-indent: -9999px;
	margin-left: 10px;
	margin-top: 8px;
	opacity: 0.8;
	@include square(30px);
	@include transition(0.3s);
	&:hover{
		opacity: 1;
	}
	&.facebook{
		background: image-url('social/facebook.png') center no-repeat #3B5998;
		border: 1px solid #3B5998;
		&:hover{
			border: 1px solid darken(#3B5998, 10%);
		}
	}
	&.google{
		background: image-url('social/google.png') center no-repeat #C83D20;
		border: 1px solid #C83D20;
		&:hover{
			border: 1px solid darken(#C83D20, 10%);
		}
	}
	&.twitter{
		background: image-url('social/twitter.png') center no-repeat #55CFF8;
		border: 1px solid #55CFF8;
		&:hover{
			border: 1px solid darken(#55CFF8, 10%);
		}
	}
	&.github{
		background: image-url('social/github.png') center no-repeat rgb(175,182,202);
		border: 1px solid rgb(175,182,202);
		&:hover{
			border: 1px solid darken(rgb(175,182,202), 10%);
		}
	}
	&.coderwall{
		background: image-url('social/coderwall.png') center no-repeat rgb(58,114,159);
		border: 1px solid rgb(58,114,159);
		&:hover{
			border: 1px solid darken(rgb(58,114,159), 10%);
		}
	}
  &.pinboard{
    background: image-url('social/pinboard.png') center no-repeat rgb(0,102,200);
    border: 1px solid rgb(58,114,159);
    &:hover{
      border: 1px solid darken(rgb(0,102,255), 10%);
    }
  }
	&.linkedin{
		background: image-url('social/linkedin.png') center no-repeat #005A87;
		border: 1px solid #005A87;
		&:hover{
			border: 1px solid darken(#005A87, 10%);
		}
	}
	&.pinterest{
		background: image-url('social/pinterest.png') center no-repeat rgb(190,64,55);
		border: 1px solid rgb(190,64,55);
		&:hover{
			border: 1px solid darken(rgb(190,64,55), 10%);
		}
  }
	&.delicious{
		background: image-url('social/delicious.png') center no-repeat rgb(50,113,203);
		border: 1px solid rgb(50,113,203);
		&:hover{
			border: 1px solid darken(rgb(50,113,203), 10%);
		}
	}
	&.rss{
		background: image-url('social/rss.png') center no-repeat #ef7522;
		border: 1px solid #ef7522;
		&:hover{
			border: 1px solid darken(#ef7522, 10%);
		}
	}
  &.instagram{
		background: image-url('social/instagram.png') center no-repeat rgb(64,110,149);
		border: 1px solid rgb(64,110,149);
		&:hover{
			border: 1px solid darken(rgb(64,110,149), 10%);
		}
	}
}