---
layout: default
---
{% if true %}
<div class='container'>
<article class="page">
  {% if page.title %}
  <div class="page-header"><h1 class="title">{% if site.titlecase %}{{ page.title | titlecase }}{% else %}{{ page.title }}{% endif %}</h1></div>
  {% endif %}
  <div class="entry-content">{{ content }}</div>
</article>
{% unless page.sharing == false %}
	{% include post/sharing.html %}
{% endunless %}
{% if site.disqus_short_name and page.comments == true %}
<section id="comment">
  <div class="page-header"><h1 class="title">Comments</h1></div>
  <div id="disqus_thread" aria-live="polite">{% include post/disqus_thread.html %}</div>
</section>
{% endif %}
</div>
{% endif %}